@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-700;
  }

  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-4xl font-medium mb-7;
  }

  p {
    @apply my-4;
  }

  a {
    border-bottom: 2px solid;
    text-decoration: none;
  }

  .text-primary {
    color: #ff6a3d;
  }

  .bg-primary {
    background-color: #ff6a3d;
  }
}
