@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-700;
  }

  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold mb-7;
  }

  p {
    @apply my-4;
  }

  .link,
  .prose a {
    border-bottom: 2px solid;
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
  }

  .link-image {
    cursor: pointer;
  }
}

@layer components {
  .button {
    color: white;
    padding: .87em 1.7em;
    border-radius: 4px;
    background: #1A2238;
    text-decoration: none;
    box-sizing: border-box;
    transition: transform .3s cubic-bezier(.374, .019, .035, 1.861), -webkit-transform .3s cubic-bezier(.374, .019, .035, 1.861);
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: 0
  }
  .button[disabled] {
    opacity: .5;
    pointer-events: none;
  }
  .button:not([disabled]):hover {
    transform: scale(1.05);
    opacity: 1
  }

  .multiSelectContainer .searchWrapper {
    @apply border border-gray-300 shadow-sm rounded-md focus-within:border-opacity-0 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:border-indigo-500;
  }
  .multiSelectContainer input:focus {
    border: none !important;
    box-shadow: none !important;
  }
  .multiSelectContainer .optionListContainer {
    @apply shadow-lg mt-1 z-20;
  }
  .multiSelectContainer .optionListContainer li:hover {
    @apply bg-gray-100 text-current;
  }
}

@layer utilities {
  .text-primary {
    color: #ff6a3d;
  }

  .bg-primary-900 {
    background-color: #ff6a3d;
  }
  .bg-primary-100 {
    background-color: #fcf8f2;
  }

  .scroll-lock {
    overflow: hidden;
  }
}
