
section {
  padding: 60px 0
}

.section__title {
  margin-top: 0;
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-flow: wrap
}

.row {
  display: flex
}

.row--center-cols {
  align-items: center
}

.column {
  flex: 1;
  padding: 15px
}

.col--img {
  text-align: center
}

@media all and (max-width: 768px) {
  .row {
    flex-flow: column
  }

  .row--img-left {
    flex-flow: column-reverse
  }

  .row--img-left {
    flex-flow: column
  }

  .col--text {
    text-align: center
  }
}

section.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box
}

.banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1
}

.banner__inner {
  padding: 60px 0;
  box-sizing: border-box
}

.banner--image_left .row {
  flex-flow: row-reverse
}

.banner--image_top .row {
  flex-flow: column-reverse
}

.banner--image_bottom .row, .banner--image_stick_bottom .row {
  flex-flow: column
}

.banner--image_left .banner__content, .banner--image_right .banner__content {
  display: flex;
  flex-flow: column;
  justify-content: center
}

section.banner--image_stick_bottom {
  padding-bottom: 0
}

.banner--image_stick_bottom .banner__inner {
  padding-bottom: 0
}

.banner--image_stick_bottom .banner__image {
  padding: 0
}

.banner__image {
  text-align: center
}

.banner__image img {
  max-width: 725px;
  width: 100%
}

.banner__image video {
  width: 100%
}

.banner__content {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  box-sizing: border-box
}

.banner__content p {
  margin: 1em
}

.banner__cta {
  padding-top: 25px
}

.icon_box {
  width: 33.333%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto
}

.icon_box__icon {
  font-size: 1.3em;
  padding-right: 20px;
  line-height: 1;
  padding-top: 5px
}

.icon_box__title {
}

.icon_box__content .icon_box__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1em;
}

.icon_box__content .icon_box__text {
  margin: 0
}

.icon_box.style--icon_bottom {
  flex-flow: column-reverse;
  text-align: center
}

.icon_box.style--icon_top {
  flex-flow: column;
  text-align: center
}

.icon_box.style--icon_top .icon_box__icon {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 10px
}

.icon_box.style--icon_bottom .icon_box__icon {
  padding-right: 0;
  padding-top: 10px
}

i.size--default, span.size--default {
  font-size: 21px
}

i.size--medium, span.size--medium {
  font-size: 30px
}

i.size--large, span.size--large {
  font-size: 40px
}

i.size--xl, span.size--xl {
  font-size: 60px
}

i.size--xxl, span.size--xxl {
  font-size: 85px
}

@media all and (max-width: 850px) {
  div.icon_box {
    width: 50% !important
  }
}

@media all and (max-width: 630px) {
  div.icon_box {
    width: 100% !important
  }
}

.button {
  padding: .87em 1.7em;
  border-radius: 4px;
  background: #fff;
  text-decoration: none;
  box-sizing: border-box;
  transition: transform .3s cubic-bezier(.374, .019, .035, 1.861), -webkit-transform .3s cubic-bezier(.374, .019, .035, 1.861);
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: 0
}

button[type=submit],
.button {
  color: white;
  background: #1A2238;
}

.button:hover {
  transform: scale(1.05);
  opacity: 1
}

.list {
  position: relative;
  padding-top: 20px
}

.list_item {
  margin-bottom: 20px;
  position: relative
}

.list_item__separator {
  opacity: .5
}

.list_item__inner {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .095);
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative
}

.list_item__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px 20px
}

.list_item .list_item__detail {
  padding: 25px;
  padding-top: 35px;
  width: 100%;
  display: none;
  box-sizing: border-box
}

.list_item.has_detail .list_item__row {
  padding-left: 35px;
  cursor: pointer
}

.list_item.has_detail .list_item__image::before {
  content: '';
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
  transform: rotate(45deg);
  transition: .15s linear;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -3px
}

.list_item.is_open .list_item__image::before {
  transform: rotate(-135deg)
}

.list_item.has_hover {
  transition: transform .2s cubic-bezier(.374, .019, .035, 1.861)
}

.list_item.has_hover:hover {
  transform: scale(1.03)
}

.list_item__description, .list_item__title {
  margin: 0;
  padding: 0
}

.list_item__description {
  opacity: .75;
  font-size: 90%;
  padding-top: 5px
}

.list_item__tags {
  opacity: .6;
  font-size: 75%;
  padding-top: 5px
}

.list_item__image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  display: flex;
  position: relative;
  align-items: center
}

.list_item__image img {
  border-radius: 4px;
  width: 80px;
  max-width: 80px
}

.list_item__right {
  margin-left: auto
}

.cards {
  width: 100%
}

.cards__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cards .more, .list .more {
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center
}

.per-row--4 .card {
  width: 25%;
  padding: 12px
}

.per-row--5 .card {
  width: 20%;
  padding: 10px
}

.per-row--2 .card {
  width: 50%
}

.per-row--1 .card {
  width: 100%;
  padding: 15px 0
}

.card {
  width: 33.333%;
  padding: 15px;
  box-sizing: border-box
}

.card__inner {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: relative;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .08);
  transition: transform .2s cubic-bezier(.374, .019, .035, 1.861), -webkit-transform .2s cubic-bezier(.374, .019, .035, 1.861);
  flex: 0 0 auto
}

.card__link {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: none
}

.card.has_hover {
  cursor: pointer
}

.card.has_hover .card__inner:hover {
  transform: scale(1.03)
}

.card__header {
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.card__header_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: rgba(0, 0, 0, .3)
}

.card__content div.card__extras {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px
}

.card__content div.card__extras > div {
  width: 25%;
  text-align: center;
  position: relative;
  z-index: 5
}

.card__header .card__extras {
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px
}

.card__header .card__extras > div {
  position: absolute;
  display: inline-block;
  z-index: 5
}

.card__header .card__extras > div:nth-child(1) {
  left: 0
}

.card__header .card__extras > div:nth-child(2) {
  right: 0
}

.card__header .card__extras > div:nth-child(3) {
  bottom: 0
}

.card__header .card__extras > div:nth-child(4) {
  bottom: 0;
  right: 0
}

.card__content {
  font-size: .85em;
  height: 150px;
  padding: 20px
}

.card__content--empty {
  height: auto
}

.card__title {
  margin: 0;
}

.card__description {
  margin: 0;
  padding-top: 20px
}

.card__default .card__inner {
  height: 350px
}

.card__data-below-image .card__header, .card__default .card__header {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0 0;
  position: relative
}

.card__image-only .card__header {
  height: 230px;
  border-radius: 4px
}

.card__image-only .card__header_overlay {
  border-radius: 4px
}

.card__image-only .card__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  z-index: 1
}

.card__data-below-image .card__header {
  height: 180px
}

.card__data-below-image .card__content {
  height: 170px
}

.loading__overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

@media all and (max-width: 1250px) {
  .per-row--5 .card {
    width: 25%
  }
}

@media all and (max-width: 1070px) {
  .per-row--3 .card, .per-row--4 .card, .per-row--5 .card {
    width: 50%
  }
}

@media all and (max-width: 768px) {
  .per-row--3 .card, .per-row--4 .card, .per-row--5 .card {
    width: 100%;
    padding: 15px 0
  }
}

.element-center div,
.element-center form {
  margin: 0 auto
}

.filters {
  list-style-type: none;
  margin-bottom: 15px
}

.filter__item {
  display: inline-block;
  margin: 10px;
  padding: 7px 14px;
  line-height: 1;
  border-radius: 50px;
  cursor: pointer;
  min-width: 55px;
  background: 0 0;
  text-align: center
}

.filter__item.active {
  background: rgba(0, 0, 0, .25)
}

footer {
  padding: 30px 0;
  font-size: 85% !important
}

.filter__item {
  border: 2px solid #1A2238;
}

.filter__item.active {
  background: #1A2238;
  color: white;
}

[data-section="header"],
[data-section="donate"],
[data-section="footer"] {
  background-color: #fcf8f2;
}

[data-section="header"] .button,
[data-section="donate"] .button,
[data-section="addyourown"] .button {
  background: #FF6A3D;
}


