
.container {
  position: relative;
  z-index: 3;
  padding: 13px 0
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 2;
  line-height: 1
}

.mobile {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 270px;
  width: 90%;
  bottom: 0;
  z-index: 1;
  transform: translateX(-100%)
}

.mobile.active {
  transition: .12s;
  transform: translateX(0)
}

.mobile ul {
  padding: 25px;
  list-style: none
}

.mobile li a {
  color: #222;
  padding: 5px 0;
  display: block;
  border: none;
  opacity: .7;
}

.mobile li a:hover {
  opacity: 1
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 0;
}

.desktop {
  margin-left: auto;
  top: 0
}

.desktop ul {
  list-style-type: none
}

.desktop li {
  display: inline-block
}

.desktop li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  opacity: .7;
  margin: 0 1em;
  transition: all .175s ease-in-out;
  border: none;
}

.desktop li a:hover {
  opacity: 1
}
